@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap";
:root {
    --color-navbar-text: #FFFFFF;
    --color-title-menu: #000000;
    --color-card-lead: #4D4D4D;
    --background-cook: #EBF0E4;
    --font-Rufina: 'Rufina';
    --font-Lato: 'Lato';
    --font-Inter: 'Inter';
    --transition-all: all .3s ease-in-out;
}

.section-menu-banner {
    min-height: 90vh;
}

.background-img {
    position: absolute;
    inset: 0;
    background: #00000075 url(../../images/menu/Dish.png) center no-repeat;
    background-size: cover;
}

.sc-fzfGF {
    align-items: center;
}

.background-content {
    padding-left: 10rem;
    padding-bottom: 5rem;
    color: var(--color-navbar-text);
}

.banner-slogan {
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: var(--font-Rufina);
    font-weight: 700;
    font-size: 110px;
    letter-spacing: 0px;
}

.max-widt {
    max-width: 600px;
}

.banner-lead {
    font-family: var(--font-Rufina);
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: 0px;
}

/* Section Menu */
.section-menu {
    position: relative;
    background: var(--color-navbar-text);
}

.menu-content {
    padding-bottom: 60px;
    align-items: center;
    flex-direction: column;
}

.starters-content,.mains-content,.pastries-content {
    padding-top: 60px;
    padding-bottom: 50px;
}

.pastries-content {
    position: relative;
}

.menu-title {
    font-family: var(--font-Rufina);
    font-weight: 700;
    font-size: 65px;
    line-height: 120px;
    letter-spacing: 0px;
    text-align: center;
}

.menu-lead {
    font-family: var(--font-Lato);
    font-weight: 400;
    font-size: 20px;
    line-height: 33.6px;
    letter-spacing: 2%;
    text-align: center;
    color: var(--color-card-lead);
}

.blueberry,.avocado {
    position: absolute;
    top: 0;
    right: 200px;
}

.menu-bottom {
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    padding-top: 50px;
}

.dish-images {
    height: 100%;
    width: 90%;
    object-fit: cover;
}

.d-block {
    display: block;
}

.product-price {
    font-family: var(--font-Rufina);
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: right;
    border-bottom: 4px dotted #000000;
}

.dish-container {
    padding-top: 20px;
    padding-bottom: 15px;
}

.dish-name {
    font-family: var(--font-Rufina);
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 0px;
} 

.max-wid-title {
    max-width: 400px;
}

.dish-description {
    font-family:var(--font-Lato);
    font-weight: 400;
    font-size: 19px;
    line-height: 50px;
    letter-spacing: 2%;
    color: var(--color-card-lead);
}

