@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Arial&display=swap";
:root {
  --color-logo: #ff5e00; 
  --background-body: #f0f4f8;
  --color-label: #333;
  --background-input: #f9f9f9;
  --color-error: rgb(221, 10, 10);
  --color-container: #ffffff;
  --font-Arial: 'Arial', sans-serif;
}

body {
  font-family: var(--font-Arial) ;
  background-color: var(--background-body);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.d-flex {
  display: flex;
}

header {
  position: absolute;
  top: 20px;
  left: 20px;
}

a {
  text-decoration: none;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-logo);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-container {
  background-color: var(--color-container);
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group label {
  display: block;
  font-size: 1.1rem;
  color: var(--color-label);
  margin-bottom: 16px;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 14px 18px;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--background-input);
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: var(--color-logo);
  outline: none;
  background-color: #fff;
}

.input-group input.is-invalid {
  border: 1px solid var(--color-error);
  background-color: var(--background-input);
}

.error {
  color: var(--color-error);
  font-size: 0.9rem;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: left;
}

.login-btn {
  width: 100%;
  padding: 14px;
  font-size: 1.2rem;
  background-color: var(--color-logo);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 15px;
}

.login-btn:hover {
  background-color: var(--color-logo);
  transform: translateY(-2px);
}

.login-btn:active {
  background-color: #e84100;
  transform: translateY(0);
}

.alert-danger {
  padding-top: 10px;
  color: var(--color-error);
}

.is-invalid {
  border: 2px solid var(--color-error);
}


/* Адаптивність */
@media screen and (max-width: 500px) {
  .login-container {
    padding: 20px;
    width: 100%;
    max-width: 350px;
  }

  .login-btn {
    font-size: 1rem;
  }
}
